#score {
    text-align: center;
}

#zombie {
    position: absolute;
}

#end_button {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 50px;
}